
<script>
    function onsub() {
        on_submit("ChangePlanet");
    }
</script>
@{
    Layout = "~/Views/Editors/PlanetRedactor.cshtml";
    ViewBag.Title = "Редактирование планеты";
}
<h2>Редактирование планеты</h2>

    
