<script>
    function onsub() {
        on_submit("ChangeStar");
    }
</script>
@{
    ViewData["Title"] = "Редактирование звезды";
    Layout = "~/Views/Editors/StarRedactor.cshtml";
}

<h2>Редактирование звезды</h2>

