<script>
    function on_m_sub() {
        on_submit("ChangeMoon");
    }
</script>
@{
    ViewData["Title"] = "Редактирование спутника";
    Layout = "~/Views/Editors/MoonRedactor.cshtml";
}

<h2>Редактирование спутника</h2>

