
@{
    ViewBag.Title = "Добавление спутника";
    Layout = "~/Views/Editors/MoonRedactor.cshtml";
}
<script>
    function on_m_sub(action = "AddMoon") {
        on_submit(action);
    }
</script>
<h2>Добавление спутника</h2>

