<script>
    function onsub() {
        on_submit("AddPlanet");
    }
</script>
@{
    Layout = "~/Views/Editors/PlanetRedactor.cshtml";
    ViewBag.Title = "Добавление планеты";
}

<h2>Добавление планеты</h2>


