<script>
    function onsub() {
        on_submit();
    }
</script>
@{
    Layout = "~/Views/Editors/StarRedactor.cshtml";
}

@{
    ViewBag.Title = "Добавить звезду";
}
<h2>Добавить звезду</h2>

    
