@model System.Collections.Generic.List<Web.Models.DataAccessPostgreSqlProvider.DBStar>

@{
    ViewBag.Title = "Список звезд";
    Layout = "_Layout";
}

<h2 align="center">Stars</h2>
<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
    }
</style>

@*<table class="table table-bordered table-striped mystyle">
    <tbody>
        @foreach (var star in Model)
        {
            <tr>
                <td>
                    <a href="StarView?id=@star.Id">@star.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
<ol class="list-group" align="center" style="background-color: black;">
    @foreach (var star in Model)
    {
        <li class="list-group-item list-group-item-text mystyle">
            <a href="StarView?id=@star.Id" style="color: black;">@star.Name</a>
        </li>
    }
</ol>