@model System.Collections.Generic.List<Web.Models.DataAccessMySqlProvider.DBStar>

@{
    ViewBag.Title = "Список звезд";
    Layout = "_Layout";
}

<h2 align="center">Stars</h2>
<table class="table table-bordered table-striped mystyle" style="color: black; background: white;">
    <thead>
    <tr>
        <td><strong>Фото</strong></td>
        <td><strong>Название</strong></td>
        <td><strong>Галлактика</strong></td>
        <td><strong>Подробнее</strong></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var star in Model)
    {
        <tr>
            <td><img class="thumbnail" width="100" height="100" src="~/Views/GetImage?id=@star.Id" alt="Нет фото"/>
            </td>
            <td>
                @star.Name
            </td>
            <td>
                @star.Galaxy
            </td>
            <td>
                <a href="~/Views/StarView?id=@star.Id">Открыть</a>
            </td>
            <td> <a href="Delete?id=@star.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>