@model object

@{
    ViewBag.Title = "Загрузка";
    Layout = "_Layout";
}

<div align="center">
    <h2>Загрузка файла</h2>
    <img src="~/images/2.jpg"/>
    <p style="font-size: medium;">Солнце</p>
    <form method="post" class="form-group" asp-controller ="Views" asp-action="StarView" enctype="multipart/form-data">
        <input class="btn btn-default btn-block" style="background-color: black; color: whitesmoke;" type="file" name="star"/>
        <br/>
        <input class="btn-primary" type="submit" />
    </form>
</div>



@*<table class="table table-bordered table-responsive table-striped">
    <thead>
    <th>
        Name
    </th>
    <th>
        Inventing date
    </th>
    <th>
        Radius
    </th>
    <th>
        Temperature
    </th>
    </thead>
    <tbody>
        <tr>
            <td id ="n"></td>
            <td id ="d"></td>
            <td id ="r"></td>
            <td id="t"></td>
        </tr>
    </tbody>
</table>
<button id ="b" onclick="function () {
    var b = document.getElementById('b');
    
}"></button>*@


