<<<<<<< HEAD
﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: cover;
    background-image: linear-gradient(black, black, black, #1b1b1b);
    background-repeat: no-repeat;
    background-color: #1b1b1b;
    color: whitesmoke;
}

details {
    background: #1b1b1b;
    border-radius: 8px;
    cursor: pointer;
    width: 80vw;
    /*color: black;
    cursor: pointer*/

}

details:hover {
    border: 3px solid black;

}

details ol {
        cursor: default;
        border-radius: 0px;
}

details ol  li{
    cursor: default;
    border-radius: 0px;
}

.planet {
    background: #1b1b1b;
    border-radius: 0px;
    border-color: black;
    /*
    cursor: pointer*/
}

.input-field {
    width: 65vw;
}

.input-lablel {
    display: inline-block;
    width: 15vw;
    margin: 0;
}
input[name="Dist"].input-field {
    width: 55vw;
    margin: 0;
}

select.input-field {
     width: 10vw;
 }

.st-input {
    display: flex;
    width: 80vw;
    flex-direction: row;
}

.mystyle {
=======
﻿.mystyle {
>>>>>>> master
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
}

<<<<<<< HEAD
.fc {
    background-color: black;
    color: white;
}

=======
>>>>>>> master
ol .mystyle {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
    text-align: center;
    color: black;
}
<<<<<<< HEAD
viewOl {
    /*width: 1000px;*/
=======
viewOl{
    width: 1000px;
>>>>>>> master
}

input {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
    color: black;
}

select {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
    color: black;
}
<<<<<<< HEAD

.mystyle input[type="file"] {
    background-color: black;
    color: whitesmoke;
}
=======
>>>>>>> master
