.mystyle {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
}

ol .mystyle {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
    text-align: center;
    color: black;
}
viewOl{
    width: 1000px;
}

input {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
    color: black;
}

select {
    font-size: 20px;
    font-family: "Times new roman";
    font-style: initial;
    color: black;
}
